<div class="seel_pdp_modal seel_pdp_modal_hidden">
  <div class="seel_pdp_modal--container">
    <img
      class="seel_pdp_modal--close"
      data-seel-pdp-modal-dismiss
      src="../../asset/modal-close.svg"
    />
    <img
      class="seel_pdp_modal--logo"
      src="../../asset/cobranding_mooncool.png"
    />
    <div class="seel_pdp_modal--header">Protect Your Purchase</div>
    <div class="seel_pdp_modal--plans"></div>
    <div class="seel_pdp_modal--subtitle">This plan covers:</div>
    <div class="seel_pdp_modal--covers">
      <div class="seel_pdp_modal--covers--items">
        <img
          src="../../asset/seel-pdp-modal-item-icon.svg"
          class="seel_pdp_modal--covers--items--icon"
        />
        <div class="seel_pdp_modal--covers--items--text">
          Accidental Damage Protection
        </div>
      </div>
      <div class="seel_pdp_modal--covers--items">
        <img
          src="../../asset/seel-pdp-modal-item-icon.svg"
          class="seel_pdp_modal--covers--items--icon"
        />
        <div class="seel_pdp_modal--covers--items--text">
          Once a year movement repair
        </div>
      </div>
      <div class="seel_pdp_modal--covers--items">
        <img
          src="../../asset/seel-pdp-modal-item-icon.svg"
          class="seel_pdp_modal--covers--items--icon"
        />
        <div class="seel_pdp_modal--covers--items--text">
          Coverage against broken bands/clasps, scratches
        </div>
      </div>
      <div class="seel_pdp_modal--covers--items">
        <img
          src="../../asset/widget-info-icon.svg"
          class="seel_pdp_modal--covers--items--link_icon"
        />
        <a
          class="seel_pdp_modal--covers--items--link_text"
          href="https://www.seel.com/faq/product-protection-plan-customer"
          target="_blank"
        >
          FAQ
        </a>
      </div>
    </div>
    <div class="seel_pdp_mnodal--cta" data-seel-pdp-modal-cta>
      Add protection plan
    </div>
    <div
      class="seel_pdp_modal--dismiss"
      data-seel-pdp-modal-dismiss
      data-seel-pdp-modal-deselect
    >
      I don’t want protection &gt;
    </div>
    <a
      class="seel_pdp_modal--bottom_link"
      target="_blank"
      href="https://assets-global.website-files.com/6311e04b5d754a83a7c1e966/6543836754f7f1967f3a8013_FSCSC%20Consumer%20Goods%20TCs%20UT%2006062023%20(FINAL)%20(2).pdf"
    >
      Limitations and exclusions apply, See Terms and Conditions.
    </a>
  </div>
</div>
