.seel_widget--title_line--checkbox{
  margin-left: 7px!important;
  margin-right:0!important;
}
#CartDrawer .seel_widget--title_line--name{
  color:#fff!important;
}
#CartDrawer .seel_widget--desc_line--text{
  color:#fff!important;
}
