.cart__footer .seel_widget--title_line--name{
  color: #fff!important;
}
.cart__footer .seel_widget--desc_line--text{
  color: #fff!important;
}
.cart__footer .seel_widget--title_line--icon{
  filter: invert(1);
}
