.seel_widget {
  border: 1px #d9d9d9 solid;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-width: 280px;
  text-align: left;
  margin: 10px 0;
}

.seel_widget--title_line--checkbox {
  appearance: none;
  margin-left: 6px!important;
  min-width: 16px;
  width: 16px!important;
  height: 16px!important;
  border: 1px solid #202223;
  border-radius: 4px;
  display: grid !important;
  place-content: center;
  cursor: pointer!important;
  padding: 0px!important;
  margin-right:0!important;
}

.seel_widget--title_line--checkbox:checked {
  background-color: #645aff;
  border-color: #645aff;
}

.seel_widget--title_line--checkbox::before {
  content: "";
  display: block;
  height: 10px;
  width: 10px;
  transform: scale(0);
  box-shadow: inset 1em 1em white;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
.seel_widget--title_line--checkbox:checked::before {
  transform: scale(1);
}

.seel_widget--title_line--name {
  margin: 0 8px;
  font-weight: 600;
  color: #202223;
  font-size: 14px;
  line-height: 14px;
}

.seel_widget--title_line--icon:hover {
  cursor: pointer;
}
.seel_widget--title_line--icon{
  width: 14px!important;
  height: 14px!important;
}
.seel_widget--title_line {
  display: flex;
  flex-direction: row;
  height: 30px;
  align-items: center;
  /* margin-bottom: 10px; */
}

.seel_widget--desc_line {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.seel_widget--desc_line--icon {
  width: 30px;
  height: 30px;
}

.seel_widget--desc_line--text {
  color: #2e2e2e;
  font-size: 14px;
  line-height: 20px;
}
