<div class="seel_widget">
  <div class="seel_widget--title_line">
    <input
      type="checkbox"
      name="checkbox"
      class="seel_widget--title_line--checkbox"
      data-seel-widget-input
    />
    <div class="seel_widget--title_line--name"></div>
    <img
      src="../../asset/widget-info-icon.svg"
      class="seel_widget--title_line--icon"
      data-seel-widget-info
    />
  </div>
  <div class="seel_widget--desc_line">
    <img class="seel_widget--desc_line--icon" data-seel-widget-icon />
    <div class="seel_widget--desc_line--text" data-seel-widget-desc></div>
  </div>
</div>
