<div class="seel_pdp_widget">
  <div class="seel_pdp_widget--title_line">
    <div data-seel-pdp-widget-name class="seel_pdp_widget--title_line--name"></div>
    <img data-seel-pdp-widget-logo class="seel_pdp_widget--title_line--logo" />
  </div>
  <div data-seel-pdp-widget-description class="seel_pdp_widget--description"></div>
  <a data-seel-pdp-widget-link class="seel_pdp_widget--link" target="blank"></a>
  <div data-seel-pdp-widget-options class="seel_pdp_widget--options">
    
  </div>
</div>